{% extends 'admin.html.twig' %}

{% block content %}

    <div class="flex-col large-section">
        <h3>Creation of new item </h3>
        <div class="flex-row">
            <div id="item" class="_item">
                {% if item.id is defined %}

                {% else %}

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.sql_type) }}
                    {{ form_row(form.html_name) }}
                    {{ form_row(form.html_type) }}

                    <div class="form-group">
                        <div class="custom-file">
                            <button id="aj_bl-form" type="submit">Submit</button>
                        </div>
                    </div>

                    {{ form_end(form) }}
                {% endif  %}
            </div>
            <div>
                {% if blocks is defined %}

                    {%  for block in blocks %}

                    {%  endfor %}

                {%  endif %}
            </div>
            <div class="flex-col">
                {% if items is defined %}

                    {%  for item in items %}
                        <a>{{  item.name }}</a>
                    {%  endfor %}

                {%  endif %}
            </div>
        </div>
    </div>

{% endblock %}
