{% extends 'admin.html.twig' %}

{% block content %}

    <div class="flex-col large-section">
        <h3>Creation of new block </h3>
        <div class="flex-row">
            <div id="block" class="_block">
                {% if block.id is defined %}

                {% else %}

                    {{ form_start(form) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.path) }}
                        {{ form_row(form.type) }}
                        {{ form_row(form.image) }}
                       {{ form_row(form.subBlock) }}

                        <a href="" id="new_item">Add item +</a>
                        <div id="new_item_list"></div>
                        <div id="new_item_hidden"></div>
                        <div class="form-group">
                            <div class="custom-file">
                                <button id="aj_bl-form" type="submit">Submit</button>
                            </div>
                        </div>

                    {{ form_end(form) }}
                {% endif  %}
            </div>
        </div>
    </div>
    <div class="flex-col paths">
        <h3>Block</h3>
        {% for block in block_paths %}
            <a data-path="{{ block }}" href="" class="flex-row _path-block">{{ loop.index }} {{ block }}</a>
        {%  endfor %}
    </div>
    <div class="flex-col">
        <h3>Liste des blocks</h3>
        {% if blocks is defined %}
            {%  for block in blocks %}
                <a href="{{ path('admin_block_id', {'id' : block.id } ) }}" class="flex-row">{{ loop.index~". " }}{{  block.name }}</a>
            {%  endfor %}
        {%  endif %}
    </div>
{% endblock %}
