<div class="flex-row _blocks_list">
    <select class="block_select" name="block_list_0">
        <option value="0">Blocs</option>
        {% for block in blocks %}
            <option value="{{  block.id  }}">{{ block.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="flex-col  a-items-start">
    <h5>Choix de la page</h5>
</div>
<div class="flex-row _blocks_list" >
    <select class="block_page_select">
        <option  value="O">-</option>
        {% for page in pages  %}
            {% set selected ='' %}
            {% if loop.index == 1 %}
                {% set selected ='selected' %}
            {% endif %}
            <option {{  selected }} value="{{ page.id }}">{{ page.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="flex-col a-items-start">
    <h5>Bloques existants</h5>
</div>

<div class="flex-row _blocks_list _blocks_page_list">
    {% include 'admin/ajax/_page-block-list.html.twig' %}
</div>

