{% set data = {
        0: {title: 'Thibaut Deltour',
            subtitle: 'Portrait du Maître des lieux',
            date: '28/03/2022',
            content: 'Le SixSeven c’est un lieu (et quel lieu!) mais c’est aussi des femmes et des hommes. Une brigade, c’est une famille. Et c’est dans cet état d’esprit que le Directeur Thibaut Deltour veut vous recevoir, pour que vous vous sentiez « comme à la maison. » Thibaut Deltour, un passionné, a fait ses armes en cuisine dans de Grandes Maisons Françaises. Il a expérimenté le véritable art de vivre à la française chez Pierre Cardin, s’est chargé des soirées évènementielles à la Résidence Maxim’s notamment en période de « fashion week » parisienne, et a travaillé aux côtés du chef doublement étoilé au Michelin Jean-Marie Meulien. Après de nombreuses années derrière les fourneaux, Thibaut Deltour, revêt le costume de Directeur en 2011 dans la réputée Brasserie La Tour, qui a été citée dans le guide Michelin en février 2013. En 2019, il s’installe à son compte avec son restaurant Bleue Blanche Rouge. L’enseigne fait son entrée au Gault &amp; Millau en 2022. Pour lui, le succès d’un restaurant est comparable à une belle assiette où les couleurs et les goûts s’harmonisent : entre une écoute parfaite du client, le respect du produit et une qualité de service irréprochable. Aujourd’hui, c’est avec une faim d’apprendre constante, que Thibaut Deltour souhaite insuffler au SixSeven, un univers où le beau et le bon se conjuguent.'
        },
        1: {title: 'Thibaut Deltour',
            subtitle: 'Portrait du Maître des lieux',
            date: '28/03/2022',
            content: 'Le SixSeven c’est un lieu (et quel lieu!) mais c’est aussi des femmes et des hommes. Une brigade, c’est une famille. Et c’est dans cet état d’esprit que le Directeur Thibaut Deltour veut vous recevoir, pour que vous vous sentiez « comme à la maison. » Thibaut Deltour, un passionné, a fait ses armes en cuisine dans de Grandes Maisons Françaises. Il a expérimenté le véritable art de vivre à la française chez Pierre Cardin, s’est chargé des soirées évènementielles à la Résidence Maxim’s notamment en période de « fashion week » parisienne, et a travaillé aux côtés du chef doublement étoilé au Michelin Jean-Marie Meulien. Après de nombreuses années derrière les fourneaux, Thibaut Deltour, revêt le costume de Directeur en 2011 dans la réputée Brasserie La Tour, qui a été citée dans le guide Michelin en février 2013. En 2019, il s’installe à son compte avec son restaurant Bleue Blanche Rouge. L’enseigne fait son entrée au Gault &amp; Millau en 2022. Pour lui, le succès d’un restaurant est comparable à une belle assiette où les couleurs et les goûts s’harmonisent : entre une écoute parfaite du client, le respect du produit et une qualité de service irréprochable. Aujourd’hui, c’est avec une faim d’apprendre constante, que Thibaut Deltour souhaite insuffler au SixSeven, un univers où le beau et le bon se conjuguent.'
        },
        2: {title: 'Thibaut Deltour',
            subtitle: 'Portrait du Maître des lieux',
            date: '28/03/2022',
            content: 'Le SixSeven c’est un lieu (et quel lieu!) mais c’est aussi des femmes et des hommes. Une brigade, c’est une famille. Et c’est dans cet état d’esprit que le Directeur Thibaut Deltour veut vous recevoir, pour que vous vous sentiez « comme à la maison. » Thibaut Deltour, un passionné, a fait ses armes en cuisine dans de Grandes Maisons Françaises. Il a expérimenté le véritable art de vivre à la française chez Pierre Cardin, s’est chargé des soirées évènementielles à la Résidence Maxim’s notamment en période de « fashion week » parisienne, et a travaillé aux côtés du chef doublement étoilé au Michelin Jean-Marie Meulien. Après de nombreuses années derrière les fourneaux, Thibaut Deltour, revêt le costume de Directeur en 2011 dans la réputée Brasserie La Tour, qui a été citée dans le guide Michelin en février 2013. En 2019, il s’installe à son compte avec son restaurant Bleue Blanche Rouge. L’enseigne fait son entrée au Gault &amp; Millau en 2022. Pour lui, le succès d’un restaurant est comparable à une belle assiette où les couleurs et les goûts s’harmonisent : entre une écoute parfaite du client, le respect du produit et une qualité de service irréprochable. Aujourd’hui, c’est avec une faim d’apprendre constante, que Thibaut Deltour souhaite insuffler au SixSeven, un univers où le beau et le bon se conjuguent.'
        },
    }
%}

<div class="news" name="news">
    <h1 class="title">Actualités</h1>
    <div class="news-wrapper">
        <ul class="items" style="left: calc(50vw - 727px);">
            {% for item in data %}
            <li class="item actu" data-id="{{ loop.index }}">
                <div class="news-left">
                    <div class="image-wrapper">
                        <img src="/uploads/SixSeven-Portrait-Directeur-Thibaut-Deltour-62416c1a38cf6.jpg" alt="image tag" class="img selected" style="opacity: 1;">
                        <div class="maskover">
                            <p class="date">{{ item.date }}</p>
                            <p class="title">{{ item.title }}</p>
                        </div>
                    </div>
                    <ul class="date">
                        <li class="day">28</li>
                        <li class="month">MAR</li>
                        <li class="year">2022</li>
                    </ul>
                </div>
                <div class="news-right">
                    <h2 class="news-title">{{ item.title }}</h2>
                    <h3 class="news-subtitle">{{ item.subtitle }}</h3>
                    <p class="news-content">{{ item.content }}</p>
                    <p></p>                                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sep"></div>
</div>