<div class="cursor-header state0">
    <span class="icon"></span>
    <span class="label" data-txt="{{ 'cursor.clickme'|trans }}, {{ 'cursor.openform'|trans }}, {{ 'cursor.closeform'|trans }}, {{ 'cursor.openpage'|trans }}, {{ 'cursor.changelng'|trans }}, {{ 'cursor.legal'|trans }}"></span>
    <span class="pointer"></span>
</div>