<header class="">
    <div class="logo-container">
        <div class="logo"></div>
    </div>
    
    <div class="shutter">
        <div class="right">
            <div class="img">
                <div class="img-bg norep"></div>
            </div>
        </div>
        <div class="left">
            <div class="img">
                <div class="img-bg norep"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <h1 class="title uppercase">{{data.title}}</h1>
        <p class="text">{{data.content.0}}</p>
        <p class="baseline">{{data.baseline}}</p>
        <div class="form-container">
            {% include "home/components/newsletter.html.twig" with{ 'place': 'header' } %}
        </div>

        <div class="bottom">
            <ul class="coords flexer row">
                <li class="address">
                    <p>{{data.address}}</p>
                </li>
                <!--li class="email">
                    <a href="mailto:{{data.email}}" class="link">{{data.email}}</a>
                </li-->
            </ul>
            {% include "home/components/socials.html.twig" with{ 'place': 'header' } %}
        </div>
    </div>
</header>