
<li class="item actu {% if nbLoop == 1 %}selected{% endif %}" data-id="{{ nbLoop }}">
    <div class="news-left">
        <div class="image-wrapper">
            <img src="{{ asset('uploads/'~data.0.image.0) }}" alt="image tag" class="img {% if nbLoop == 1 %}selected{% endif %}"/>
            <div class="maskover">
                <p class="date">{{ data.0.published_at|date('d/m/Y') }}</p>
                <p class="title">{{ data.0.title }}</p>
            </div>
        </div>
        {#{ tr('module/site/date/month_' ~ end_date|date('m') )|slice(0, 3) }#}
        <ul class="date {% if nbLoop == 1 %}selected{% endif %}">
            <li class="day">{{ data.0.published_at|date('d') }}</li>
            {% set value = data.0.published_at|date('m') %}

            {% if app.request.getLocale() == 'fr' %}
                {% if value == '01' %}
                    <li class="month">JAN</li>
                {% elseif value ==  '02' %}
                    <li class="month">FEV</li>
                {% elseif value == '03' %}
                    <li class="month">MAR</li>
                {% elseif value == '04' %}
                    <li class="month">AVR</li>
                {% elseif value == '05' %}
                    <li class="month">MAI</li>
                {% elseif value == '06' %}
                    <li class="month">JUN</li>
                {% elseif value == '07' %}
                    <li class="month">JUI</li>
                {% elseif value == '08' %}
                    <li class="month">AOU</li>
                {% elseif value == '09' %}
                    <li class="month">SEP</li>
                {% elseif value == '10' %}
                    <li class="month">OCT</li>
                {% elseif value == '11' %}
                    <li class="month">NOV</li>
                {% elseif value == '12' %}
                    <li class="month">DEC</li>
                {% endif %}
            {% else %}
                {% if value == '01' %}
                    <li class="month">JAN</li>
                {% elseif value ==  '02' %}
                    <li class="month">FEB</li>
                {% elseif value == '03' %}
                    <li class="month">MAR</li>
                {% elseif value == '04' %}
                    <li class="month">APR</li>
                {% elseif value == '05' %}
                    <li class="month">MAY</li>
                {% elseif value == '06' %}
                    <li class="month">JUN</li>
                {% elseif value == '07' %}
                    <li class="month">JUL</li>
                {% elseif value == '08' %}
                    <li class="month">AUG</li>
                {% elseif value == '09' %}
                    <li class="month">SEP</li>
                {% elseif value == '10' %}
                    <li class="month">OCT</li>
                {% elseif value == '11' %}
                    <li class="month">NOV</li>
                {% elseif value == '12' %}
                    <li class="month">DEC</li>
                {% endif %}
            {% endif %}
            <li class="year">{{ data.0.published_at|date('Y') }}</li>
        </ul>
    </div>
    <div class="news-right {% if nbLoop == 1 %}selected{% endif %}">
        <h2 class="news-title">{{ data.0.title }}</h2>
        <h3 class="news-subtitle">{{ data.0.subtitle }}</h3>

        {% for new in data %}
            {% set newsContent = twig_service.getContentNews(new.block_page_id) %}
            {% for contentNew in newsContent %}

                {% set content = contentNew|json_decode(contentNew.jsonData) %}

                {% if content.image is defined %}
                    {% include 'home/blocks/news_image.html.twig' with {'content': content.image} %}
                {% else %}
                    {% include 'home/blocks/news_content.html.twig' with {'content': content.content} %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    </div>
</li>