<div class="logo-container">
    <div class="logo"></div>
    <div class="logo-numbers">
        <div class="six"></div>
        <div class="seven"></div>
    </div>
</div>

<!--div class="language-switcher">
    {% if app.request.getLocale() == 'fr' %}
        <a class="link" href="/en/home">English</a>
        <a class="link-mobile" href="/en/home">EN</a>
    {% else %}
        <a class="link" href="/fr/home">Français</a>
        <a class="link-mobile" href="/fr/home">FR</a>
    {% endif %}
</div-->

<div class="orientation-icon"></div>

{% set data = {
        right : {
            0: {label: 'A propos',
                link: '#',
                name: 'about'
            },
            1: {label: 'Actu',
                link: '#',
                name: 'news'
            },
            2: {label: 'Menu',
                link: '#',
                name: 'menu'
            },
            3: {label: 'Events',
                link: '#',
                name: 'events'
            },
            4: {label: 'Contact',
                link: '#',
                name: 'contact'
            },
            5: {label: 'English',
                link: '#',
                name: ''
            }
        },
        left : {
            0: {label: 'A propos',
                link: '#',
                name: 'about'
            },
            1: {label: 'Actu',
                link: '#',
                name: 'news'
            },
            2: {label: 'Menu',
                link: '#',
                name: 'menu'
            },
            3: {label: 'Events',
                link: '#',
                name: 'events'
            },
            4: {label: 'Contact',
                link: '#',
                name: 'contact'
            },
            5: {label: 'English',
                link: '#',
                name: ''
            }
        },
    }
%}

{% set slides = ['right', 'left'] %}

<div class="shutter" name="top">
    
    {% for slide in slides %}
        <div class="{{slide}}">
            <nav class="menu-main">
                <ul class="menu menu-{{slide}}">
                {% for item in data[slide] %}
                {% set n = loop.length / 2 %}
                    <li class="menu-item {% if loop.index == n|round(0, 'ceil') %} menu-logo {% endif %}{% if loop.index == loop.length %} lng {% endif %}">
                        <a href="{{item.link}}" class="link" name="{{item.name}}">{{item.label}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="tosix"></div>
                <div class="toseven"></div>
            </nav>
            
            
            {% for i in 0..4 %}
                <div class="img phase{{i}}">
                    <div class="img-bg-mask">
                        <div class="img-bg front norep"></div>
                        <div class="img-bg back norep"></div>
                    </div>
                    <div class="fader"></div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>