{% if block_page is defined  and block_page is not empty  %}
    {% set block = block_page.block  %}
{% endif  %}

<!-- TODO FOOTER -->
{% if block.name != 'footer' %}
<div class=" block_page container position-relative">
    {#
    {% for block_children in block_page.pageBlock %}
        {% include 'admin/ajax/_sub-block.html.twig' with { block_children : block_children } %}
    {% endfor %}
    #}
    
    <h3 class="row show-form">
        <strong>{{ block.name|upper }}</strong><span class="ml-1">| {{ titleBlock }}</span>
        <p class="manage-block">
            <!--
            <span class="rem_block">X</span>
            <span class="more_block"><i class="fas fa-plus-circle"></i></span>
            -->
        </p>
    </h3>
    {% set items = block.blockItem %}
    <form action="/admin/page/block/add" method="post" class="flex-col a-items-start _form-bl-item mb-5 pb-5" enctype="multipart/form-data">
        {% for item in items %}
            {%  set include = '/admin/input/'~item.item.htmlType~'.html.twig' %}
            {% include include with {'data' : item.item} %}
        {%  endfor %}

        <input class="block_id" type="hidden" name="block" value="{{ block.id  }}">
        <input type="hidden" value ="{{ block_page.id }}" name="block_page_id">
        <input type="hidden" value ="{{ app.session.get('_locale_edit') }}" name="lang_block">
        <div class="row">
            <div id="message{{ block_page.id }}"></div>
        </div>
        
        <button type="button" class="submit btn btn-block btn-info add_block draft col-md-4 mt-3 mr-3 float-left">Enregistrer en brouillon <i class="fas fa-pencil-ruler ml-2"></i></button>
        <button type="button" class="submit btn btn-block btn-success add_block col-md-4 mt-3 float-right">Publier <i class="fas fa-save ml-2"></i></button>
    </form>

    {% if default_page.name != 'site' %}
    <div class="flex-row wrap_action_block position-absolute" style="top:3px;right:30px;">
        <a data-block="{{ block.id }}" data-blockpage="{{ block_page.id }}" data-lang="{{ app.session.get('_locale_edit') }}" class="rem_block" href="" style="color:#fff;">X</a>
        <!--<a data-block="{{ block.id }}" class="block_select more_block" href="">+</a>-->
    </div>
    {% endif %}

    {% if block.subBlock == true %}
        <div class="subBlock col pl-5">
            <h2>Sous blocs</h2>
            {% if list_block is not empty %}
                <div class="row mb-3">
                    <select class="sub_block_list form-control col-md-8" name="list_block_id">
                        {% for bl in list_block %}
                            {% set selected = 'selected' %}
                            {% if loop.index > 1 %}
                                {% set selected = '' %}
                            {% endif %}

                            <option value="{{ bl.id  }}" >{{ bl.name }}</option>
                        {% endfor %}
                    </select>
                    <a class="new_sub_block flex-col col-md-4" data-bp="{{ block_page.id }}" data-block="{{ block.id }}" href="">
                       <button type="button" class="btn btn-outline-primary btn-block col-md-12"><i class="fa fa-plus"></i> Ajouter ce sous block</button>
                    </a>
                </div>
                <hr>
            {% endif %}
            {% for block_children in block_page.pageBlock %}
                {% include 'admin/ajax/_sub-block.html.twig' with { block_children : block_children } %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endif %}