<div id="pages_block" class="row">

    {% for block_page in blocks_page %}
        {% set titleBlock = null %}
        {% if block_page.json is defined and block_page.json.title is defined %}
            {% set titleBlock = block_page.json.title %}
        {% endif %}
        {% include 'bo/blocks/_block.html.twig' with {'block_page' : block_page , json:block_page.json, titleBlock: titleBlock} %}
    {% endfor %}
    <hr>
</div>

{% if default_page.name != 'site' %}
    <div class="d-flex col-md-12 mt-4">
        <div class="col-md-10">
            <div class="flex-row _blocks_list">
                <select class="block_select form-control" name="block_list_0">
                    <option value="0">Blocs</option>
                    {% for block in blocks %}
                        <option value="{{  block.id  }}">{{ loop.index }} - {{ block.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-block btn-info btn-sm btn-block-add">Ajouter un block</button>
        </div>
    </div>
    <input type="hidden" value="{{ app.session.get('_locale_edit') }}" name="locale" id="locale">
    <hr>
{% endif %}

<div class="row">
        <div class="col-lg-12 mt-5">
            {% if default_page.name == 'site' %}
                <h5>Options générales du <strong>{{ default_page.name }}</strong></h5>
            {% else %}
                <h5>Options de la page <strong>{{ default_page.name }}</strong></h5>
            {% endif %}

            {% if default_page.name != 'site' %}
                <div class="mt-3 row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title m-0">Newsletter</h5>
                            </div>
                            <div class="card-body">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" id="newsletterCurrent" {% if default_page.hasNewsletter %}checked{% endif %}>
                                    <label class="custom-control-label" for="newsletterCurrent">Afficher le block Newsletter ?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title m-0">Dupliquer la page</h5>
                            </div>
                            <div class="card-body">
                                <button  type="button" class="btn btn-block btn-warning btn-sm">Dupliquer la page</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title m-0">Switch langue</h5>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    {% set locale = app.session.get('_locale_edit') ?? app.session.get('_locale') %}
                                    {% for lang in langs %}
                                        {% set flagLocale = lang.code %}
                                        {% if lang.code == 'en' %}
                                            {% set flagLocale = 'us' %}
                                        {% endif %}
                                        {% set countContentByLang = twig_service.isLangExitByPage(lang.id, default_page.id) %}
                                        <a href="{{ path('bo_new_lang_block', {'id':default_page.id, 'langId': lang.id }) }}"
                                           title="{{ lang.name }}"
                                           class="dropdown-item text-center position-relative {{ locale == lang.code ? 'active' : '' }}">
                                            <i class="flag-icon flag-icon-{{ flagLocale }} mr-2"></i>
                                            {% if countContentByLang > 0 %}
                                                <i class="fas fa-edit position-absolute" style="top:0;right:21px;"></i>
                                            {% else %}
                                                <i class="fas fa-plus position-absolute" style="top:0;right:21px;"></i>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>

{% if default_page.name == 'site' %}
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
        let textEditors = document.getElementsByClassName('wys');
        $(".wys").each(function () {
            CKEDITOR.replace('.wys');
        });
    </script>
{% endif %}