{% extends 'admin.html.twig' %}

{% block content %}

    <div id="page_atelier">
        {% include 'admin/ajax/_block-detail-page.html.twig'  %}
    </div>

    <div class="flex-col large-section">
        <h5>Creation of new page </h5>
        <div class="flex-row">
            <div id="page" class="page">

                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.hasNewsletter) }}
                    <div class="build_page">
                        <button id="build_page_btn" type="submit">Enregister</button>
                    </div>
                {{ form_end(form) }}

                {%  if pages is not empty %}
                    <div class="flex-col page_list a-items-start">
                        <h5>Pages</h5>
                        {% include '/admin/ajax/_page-list.html.twig' with{'pages' : pages } %}
                    </div>
                {% endif %}
                <div class="flex-col  a-items-start">
                     <h5>Blocks</h5>
                </div>
                {% include '/admin/ajax/_list-blocks.html.twig' with{'blocks' : blocks } %}
                <div id="new_block_list"></div>
                <div class="form-check">
                    <input value="" type="checkbox" name="has_footer"  class="form-check-input" id="has_footer">
                    <label class="form-check-label" for="has_footer">Has footer ?</label>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h5>Options de la page courante</h5>

        <div class="form-check">
            <input type="checkbox" id="newsletterCurrent"
                   name="currentNewsletter"
                   required="required"
                   class="form-check-input"
                   value="1"
                   {% if default_page.hasNewsletter %}checked{% endif %}
            >
            <label class="form-check-label required" for="newsletterCurrent">Afficher le block Newsletter ?</label>
        </div>
    </div>

{% endblock %}
